@{
    ViewData["Title"] = "Login";
}
<form method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                <label>Username</label>
                <input class="form-control" name="username" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Password</label>
                <input class="form-control" name="password" type="password" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Log in</button>
            </div>
        </div>
    </div>
</form>